In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv("Chocolate_sales_data.csv")
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,1-4-2022,5320.00,180
1,Van Tuxwell,India,85% Dark Bars,1-5-2022,7896.00,94
2,Gigi Bohling,India,Peanut Butter Cubes,1-6-2022,4501.00,91
3,Jan Morforth,Australia,Peanut Butter Cubes,1-7-2022,12726.00,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,1-8-2022,13685.00,184
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,12-25-2030,5303.58,354
3278,Jehu Rudeforth,USA,White Choc,12-26-2030,7339.32,121
3279,Ches Bonnell,Canada,Organic Choco Syrup,12-27-2030,616.09,238
3280,Dotty Strutley,India,Eclairs,12-28-2030,2504.62,397
3281,Karlen McCaffrey,India,70% Dark Bites,12-29-2030,5915.87,355

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   float64
 5   Boxes Shipped  3282 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 154.0+ KB

In [13]:
df.describe

<bound method NDFrame.describe of           Sales Person    Country              Product        Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco    1-4-2022   5320.00
1          Van Tuxwell      India        85% Dark Bars    1-5-2022   7896.00
2         Gigi Bohling      India  Peanut Butter Cubes    1-6-2022   4501.00
3         Jan Morforth  Australia  Peanut Butter Cubes    1-7-2022  12726.00
4       Jehu Rudeforth         UK  Peanut Butter Cubes    1-8-2022  13685.00
...                ...        ...                  ...         ...       ...
3277  Karlen McCaffrey  Australia  Spicy Special Slims  12-25-2030   5303.58
3278    Jehu Rudeforth        USA           White Choc  12-26-2030   7339.32
3279      Ches Bonnell     Canada  Organic Choco Syrup  12-27-2030    616.09
3280    Dotty Strutley      India              Eclairs  12-28-2030   2504.62
3281  Karlen McCaffrey      India       70% Dark Bites  12-29-2030   5915.87

      Boxes Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
3277            354
3278            121
3279            238
3280            397
3281            355

[3282 rows x 6 columns]>

In [16]:
sales=df.groupby("Sales Person")["Total Amount"].sum()
plt.figure()
sales.plot(kind="bar")
plt.title("Sales Person Total Amount ")
plt.xlable("Sales Person")
plt.ylable("Total Amount")
plt.show()

KeyError: 'Column not found: Total Amount'